<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finished Exam</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <table class="table-auto">
        <thead>
          <tr>
            <th>Question</th>
          </tr>
        </thead>
        <tbody class="flex flex-col">
            <%for(let i = 0; i<results.length;i++){%>
                <tr>
                    <td>
                        <a href="/again/<%=results[i].id%>"><button class="btn btn-accent btn-secondary">Question: <%=results[i].question%></button></a>
                    </td>
                </tr>
            <%}%>            
        </tbody>
      </table>
    <footer>
        <a href="/final"><Button class="btn btn-primary">Submit Final Answers</Button></a>
    </footer>

</body>
</html>