<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7333055422426661"
    crossorigin="anonymous"></script>
</head>
<body class="center">
  <header>
    <div class="navbar">
      <div class="flex-1">
        <img class="w-24 rounded-full ml-32 mr-32 " src="/images/logo.png" alt="logo">
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li class="pr-4"><a class="border-solid border-2 border-sky-700" href="/login">Log In</a></li>
          <li><a class="mr-32 border-solid border-2 border-sky-700" href="/signup" >Sign Up</a></li>          
        </ul>
      </div>
    </div>
  </header>
  <div class=" min-w-full">
    <div class="  hero-content flex-row-reverse lg:flex-row-reverse pt-60 pb-80 my-0 mx-auto">
      <img src="../images/newclass.png" class="max-w-sm min-w-[24rem] rounded-lg shadow-2xl" />
      <div >
        <h1 class="text-5xl font-bold">My ClassRoom</h1>
        <p class="py-6">Your environment to simulate the exam setting. </p>
            <a href="/signup"><button class="btn btn-primary">Sign Up for My ClassRoom</button></a>
      </div>
    </div>
  </div>

</body>

</html>                         

