<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="center">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-row-reverse lg:flex-row-reverse">
      <img src="../images/newclass.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">My ClassRoom</h1>
        <p class="py-6">Your environment to simulate the exam setting. </p>
            <a href="/login"><button class="btn btn-primary">Login</button></a>
            <a href="/signup"><button class="btn btn-primary">Sign Up for My ClassRoom</button></a>
      </div>
    </div>
  </div>
</body>

</html>                         

