<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="center">
  <header>
    <div class="navbar bg-base-200">
      <div class="flex-1">
        <img class="w-24 rounded-full" src="/images/logo.png" alt="logo">
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li><a>Item 1</a></li>
          <li><a>Log In</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="bg-base-200">
    <div class="hero-content flex-row-reverse lg:flex-row-reverse pt-60 pb-80 my-0 mx-auto">
      <img src="../images/newclass.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">My ClassRoom</h1>
        <p class="py-6">Your environment to simulate the exam setting. </p>
            <a href="/login"><button class="btn btn-primary">Login</button></a>
            <a href="/signup"><button class="btn btn-primary">Sign Up for My ClassRoom</button></a>
      </div>
    </div>
  </div>
  <footer class="footer p-10 bg-neutral text-neutral-content justify-evenly fixed bottom-0">
  <div>
    <span class="footer-title">Services</span> 
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div> 
  <div>
    <span class="footer-title">Company</span> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div> 
  <div>
    <span class="footer-title">Legal</span> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
</footer>
</body>

</html>                         

