<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7333055422426661"
    crossorigin="anonymous"></script>
</head>
<body >
  <header>
    <div class="navbar">
      <div class="flex-1">
        <img class="w-24 rounded-full ml-32 mr-32 " src="/images/logo.png" alt="logo">
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li class="pr-4"><a class="border-solid border-2 border-sky-700" href="/">Home</a></li>
          <li><a class="mr-32 border-solid border-2 border-sky-700" href="/signup" >Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
<div class="min-h-screen ">
  <div class="flex-col lg:flex-row-reverse my-0 mx-auto pt-32">
    <div class="text-center">
      <h1 class="text-5xl font-bold">Login</h1>
    </div>
    <div class="flex-shrink-0 w-full max-w-sm justify-center my-0 mx-auto">
      <div class="card-body">
        <main class="container">
          <div class="row justify-content-center">
            <section class="col-6">
              <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %> <% } %> <% if (locals.messages.info) { %> <%
              messages.info.forEach( el => { %>
              <div class="my-8 alert alert-info "><%= el.msg %></div>
              <% }) %> <% } %>
              <form class="flex flex-col justify-center" action="/login" method="POST">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="input input-bordered input-primary w-full max-w-xs"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input
                    type="password"
                    class="input input-bordered input-primary w-full max-w-xs"
                    id="exampleInputPassword1"
                    name="password"
                  />
                </div>
                <button type="submit" class="btn btn-primary mt-4 bg-blue-400  text-slate-200">Submit</button>
              </form>
            </section>
          </div>
        </main>
    </div>
  </div>
</div>
  
</body>
</html>

