<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classroom</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7333055422426661"
    crossorigin="anonymous"></script>
</head>
<body class="center">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <img class="flex justify-center rounded-full w-3/6 my-0 mx-auto" src="/images/logo.png" alt="logo">
        <h1 class="text-3xl font-bold pt-8">Welcome! Click on the Take Exam button to get started!</h1>
        <h2 class="pt-8">If you don't know the answer to a question, just pick one and continue. You will have a chance to review all questions before submitting.</h2>
        <h2 class="py-6">If you like this application, please consider clicking the coffee cup below and donate!</h2>
        <a href="/exam"><button class="btn btn-primary btn-wide">Take Exam</button></a>
        <a href="/review"><button class="btn btn-primary btn-wide" style="margin-top: 5%;">Review Past Exams</button></a>
        <a href="https://www.buymeacoffee.com/XWRZuYU4bJ"><img class="mt-8 w-3/6 my-0 mx-auto" src="/images/black-button.png" alt="Buy me a coffee logo"></a>
      </div>
    </div>
  </div>
</body>
</html>