/* GENERAL STYLING */
/* test */
/* Banner */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    position: relative;
}
div.picked h4.correct{
    color: green;
}
div.picked h4.wrong{
    color: red;
}
.question{
    display:flex;
    flex-direction: column;
    
}
main{
    display:flex;
    justify-content: center;
}
.review{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.review a{
    margin: 2%
}
footer{
    display: flex;
    justify-content: center;
}