/* GENERAL STYLING */
/* test */
/* Banner */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    position: relative;
}
div.picked h4.correct{
    color: green;
}
div.picked h4.wrong{
    color: red;
}
.question{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.buttonColumn{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.center{
    max-width: 100%;
}
main{
    display:flex;
    justify-content: center;
}
img{
    width:30%
}
.review{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.review a{
    margin: 2%;
}
.smallSpace{
    margin-top: 2%;
}
.marginTop{
    margin-top: 6.25rem;
}
.makeButtonSolid{
    background-color: dodgerblue;
}
.space{
    margin-top: 2rem;
    margin-bottom: 2rem;
}